header.navigation {
  width: calc(100% - 2rem);
  margin: 1rem;
  border-block: 1px solid var(--dark);

  h1 {
    font-family: 'WorkSans', serif;
    font-weight: bold;
    line-height: 100%;
    span {
      font-family: 'WorkSans', serif;
      font-weight: normal;
    }
  }
  & > .left {
    display: flex;
    align-items: center;
  }
  & > .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
