// Rest
@import 'reset';

// Utilities
@import 'utils/breakpoints';
@import 'utils/grid';
@import 'utils/flex';

// Colors
@import 'colors';

// Typography
@import 'typography';

// Templates
@import 'templates/index';

// Additional styles

.container {
  width: 95%;
  margin-inline: auto;
  padding-inline: 1rem;
}

.w-full {
  width: 100%;
}
