// Reset
@use 'reset';

// Utilities
@use 'utils/breakpoints';
@use 'utils/grid';

// Theme
@use 'theme/colors';
@use 'theme/typography';
@use 'theme/animations';

// Modules
@use 'modules/header';
@use 'modules/navigation';
@use 'modules/mobileMenu';

// Templates
@use 'templates/index';

// Additional styles

// https://alpinejs.dev/directives/cloak
// "Sometimes, when you're using AlpineJS for a part of your template,
// there is a "blip" where you might see your uninitialized template
// after the page loads, but before Alpine loads."
[x-cloak] {
  display: none !important;
}

.container {
  width: 95%;
  margin-inline: auto;
  padding-inline: 1rem;
}

.w-full {
  width: 100%;
}
