.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  background: var(--background);
  padding-bottom: 3%;

  h1 {
    font-size: 3vw;
    letter-spacing: -0.02em;
    font-weight: 400;
    color: var(--dark);
    & > span {
      position: relative;
      display: inline-flex;
      overflow: hidden;
      & > span {
        margin-right: 10px;
      }
    }
  }
}

.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--dark);
  z-index: 2;
}
